**/.DS_Store
**/.Rhistory
**/*.RData
**/~$*.pptx
figures/
tables/
html/**/*.md
html/data/
html/figures/
html/images/source
html/rdata/
html/server_setup/
html/tables/
html/analysis_scripts/
Module09_SampleQCViz_files/
R_bonus_content_files/
html/images/source
Module11_DEVisualizations_files
source/rdata/
RunningData.RData
source/data
outputs/*
